---
// BrandLines - Decorative dotted line paths matching brand guide style
---

<div class="brand-lines" aria-hidden="true">
  <svg viewBox="0 0 1440 400" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- Horizontal sweep -->
    <path
      d="M0 200 Q 360 120, 720 200 T 1440 200"
      stroke="#2F6FED"
      stroke-width="1.5"
      stroke-dasharray="8 12"
      opacity="0.15"
    />
    <!-- Second offset path -->
    <path
      d="M0 260 Q 480 180, 960 260 T 1440 260"
      stroke="#2F6FED"
      stroke-width="1"
      stroke-dasharray="6 14"
      opacity="0.08"
    />
    <!-- Diagonal directional line -->
    <path
      d="M100 380 Q 500 100, 900 320 T 1440 80"
      stroke="#2F6FED"
      stroke-width="1"
      stroke-dasharray="10 16"
      opacity="0.06"
    />
  </svg>
</div>